.acfTable td,
.acfTable th {
	padding-right: 1em;
}

.acfTable tr th:first-child {
	width: 300px;
}

.acfTable tr th:last-child,
.acfTable tr td:last-child {
	padding-right: 0;
	width: 20px;
}

.acfInput {
	min-width: 100%;
}

.acfTable {
	margin-top: 1em;
	min-width: 100%;
}

.acfLabelProcess {
	display: inline-block;
	max-height: 18px;
}

.acfButton {
	width: 45px;
	text-align: center;
	padding: 0 !important;
}

.acfLsit .asmListItemLabel {
	padding-left: 0;
}

.acfList .asmListItemHandle {
	postion: absolute;
}
